{% extends 'base.html' %}

{% block head %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/b2a71afe25.js" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jsCalendar.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jsCalendar.micro.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='js/jsCalendar.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jsCalendar.datepicker.js') }}"></script>
<link href="{{ url_for('static', filename='css/styles3.css') }}" rel="stylesheet" />
<link href="{{ url_for('static', filename='css/exercise.css') }}" rel="stylesheet" />
<!-- Additional CSS and JavaScript links can be included here -->
<style>
    /* CSS 스타일을 사용하여 video 요소를 나란히 배치 */
    .video-container {
        display: flex;
        justify-content: space-between;
    }



    .video {
        width: 48%;
        /* 각각의 비디오 요소가 화면 너비의 48%를 차지하도록 설정 */
        max-width: 100%;
        /* 최대 너비 설정 */
    }

    /* 로딩 페이지 스타일 */
    #loadingPage {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: white;
        /* 흰 배경 */
        color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2em;
        z-index: 1000;
        /* 로딩 페이지를 다른 콘텐츠 위에 표시 */
    }

    /* 실제 콘텐츠는 초기에 숨겨진 상태 */
    #content {
        display: none;
    }

    audio::-webkit-media-controls-panel {
        display: none !important;
    }
</style>
{% endblock %}

{% block content %}
<header class="masthead" style="background-image: url('./static/img/yoga.jpg'); background-size: cover;">
</header>
<div id="loadingPage">
    <img src="{{ url_for('static', filename='gif/loading.gif') }}">
</div>
<!-- Main Content-->
<div id="content">
    <div class="dashboard">
        <div class="profile">
            <img src="./static/img/timer.jpg" alt="이미지 설명">
            <h1>Timer</h1>
            <!--<div id="timer">10</div> -->
            <div id="timeDisplay"></div>

            <!-- <h1>Time Difference Calculator</h1>
            <p>Page accessed on: <span id="accessTime"></span></p>
            <button onclick="calculateTimeDifference()">Calculate Time Difference</button>
            <p>Time spent since page access: <span id="timeDifference"></span> seconds.</p> -->
        </div>

        <button class="end-session-button" onclick="sendTimeDifference()">END</button>

        <div class="bento">
            <div class="box calories">
                <!-- 웹캠 비디오 요소 추가 -->
                <img src="{{ url_for('video_feed') }}" class="image" onload="hideLoadingPage()">
            </div>
            <div class="box exercise-score">
                <div class="decoyoga-container">
                    <img src="./static/img/decoyoga.jpg" alt="요가 아이콘 이미지" class="decoyoga">
                    <div id="labelDisplay" class="decoyoga-text"></div>
                </div>
                <div class="downdog-container">
                    <img src="{{ url_for('static', filename='gif/warrior2.gif') }}" alt="움짤">
                </div>
                <div class="box exercise-table">
                    <div class="feedback-section">
                        <div class="feedback-title">
                            <i class="fa-solid fa-comments fa-beat fa-2xl" style="color: #cee3d2;"></i>
                            <span class="feedback-text">피드백</span>
                        </div>

                        <div>
                            <div class="horizontal-box-container">
                                <div id="box1" class="horizontal-box">
                                    <div id="feedBackDisplay1" ></div>
                                    <div id="feedBackDisplay2" ></div>
                                    <div id="feedBackDisplay3" ></div>
                                    <div id="feedBackDisplay4" ></div>
                                </div>

                                <div id="box2" class="horizontal-box">
                                    <div id="feedBackDisplay5" ></div>
                                    <div id="feedBackDisplay6" ></div>
                                    <div id="feedBackDisplay7" ></div>
                                    <div id="feedBackDisplay8" ></div>
                                </div>
                            </div>





                        </div>


                    </div>


                </div>

                <audio controls autoplay class="hidden-audio" style="display: none;">
                    <!-- 노래 파일 경로를 소스(src)에 지정 -->
                    <source src="{{ url_for('static', filename='mp3/bird.mp3') }}" type="audio/mpeg">
                    Your browser does not support the audio element.
                </audio>

            </div>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
            <script>

                let accessTime;
                console.log(accessTime);

                window.onload = function () {
                    // 페이지가 로드될 때 현재 시간을 기록
                    accessTime = new Date();
                };

                function sendTimeDifference() {
                    let currentTime = new Date();
                    let timeDifference0 = Math.floor((currentTime - accessTime) / 1000);
                    let timeDifference = Math.floor(timeDifference0 / 60); // 분 단위로 변환

                    // AJAX 요청을 사용하여 시간 차이를 서버로 전송
                    fetch('/send_time_difference', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({ timeDifference: timeDifference })
                    })
                        .then(response => response.json())
                        .then(data => {
                            window.location.href = '/after'; // 'after' 페이지로 이동
                        })
                        .catch((error) => {
                            console.error('Error:', error);
                        });
                }

                function hideLoadingPage() {
                    // 로딩 페이지 숨기기
                    document.getElementById("loadingPage").style.display = "none";
                    // 실제 콘텐츠 표시
                    document.getElementById("content").style.display = "block";
                }

                var previousFeedback = ''; // 이전 피드백 값을 저장하는 변수

                // Connect to the WebSocket server
                var socket = io.connect('http://' + document.domain + ':' + location.port);

                // Listen for the 'return_time' event
                socket.on('time', function (data) {
                    var time = data.time;
                    document.getElementById('timeDisplay').innerHTML = time;
                });

                // Listen for the 'return_time' event
                socket.on('label', function (data) {
                    var label = data.label;
                    document.getElementById('labelDisplay').innerHTML = label;
                    var imageUrl = "{{ url_for('static', filename='gif/') }}" + label + ".gif";

                    // Find the image element and update its src attribute
                    var imageElement = document.querySelector('.downdog-container img');
                    if (imageElement) {
                        imageElement.src = imageUrl;
                    }
                });

                // Listen for the 'return_time' event
                socket.on('feedback1', function (data) {
                    var feedback1 = data.feedback1;
                    document.getElementById('feedBackDisplay1').innerHTML = '' + feedback1;
                });

                // Listen for the 'return_time' event
                socket.on('feedback2', function (data) {
                    var feedback2 = data.feedback2;
                    document.getElementById('feedBackDisplay2').innerHTML = '' + feedback2;
                });

                // Listen for the 'return_time' event
                socket.on('feedback3', function (data) {
                    var feedback3 = data.feedback3;
                    document.getElementById('feedBackDisplay3').innerHTML = '' + feedback3;
                });

                // Listen for the 'return_time' event
                socket.on('feedback4', function (data) {
                    var feedback4 = data.feedback4;
                    document.getElementById('feedBackDisplay4').innerHTML = '' + feedback4;
                });

                // Listen for the 'return_time' event
                socket.on('feedback5', function (data) {
                    var feedback5 = data.feedback5;
                    document.getElementById('feedBackDisplay5').innerHTML = '' + feedback5;
                });


                // Listen for the 'return_time' event
                socket.on('feedback6', function (data) {
                    var feedback6 = data.feedback6;
                    document.getElementById('feedBackDisplay6').innerHTML = '' + feedback6;
                });

                // Listen for the 'return_time' event
                socket.on('feedback7', function (data) {
                    var feedback7 = data.feedback7;
                    document.getElementById('feedBackDisplay7').innerHTML = '' + feedback7;
                });

                // Listen for the 'return_time' event
                socket.on('feedback8', function (data) {
                    var feedback8 = data.feedback8;
                    document.getElementById('feedBackDisplay8').innerHTML = '' + feedback8;
                });


                // Listen for the 'return_feedback' event
                socket.on('feedback', function (data) {
                    var feedback = data.feedback;

                    // 이전 피드백 값과 새로운 피드백 값 비교
                    if (feedback !== previousFeedback) {
                        document.getElementById('feedBackDisplay').innerHTML = 'Feedback: ' + feedback;
                        previousFeedback = feedback; // 이전 피드백 값을 업데이트

                        // Web Speech API를 사용하여 음성으로 출력
                        var speechSynthesis = window.speechSynthesis;
                        var speechUtterance = new SpeechSynthesisUtterance(feedback);
                        speechSynthesis.speak(speechUtterance);
                    }
                });
            </script>

            {% endblock %}