{% extends 'base.html' %}

{% block head %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&display=swap" rel="stylesheet">

<script src="https://kit.fontawesome.com/b2a71afe25.js" crossorigin="anonymous"></script>
<link href="./static/css/styles3.css" rel="stylesheet" />
<link href="./static/css/exDowndog.css" rel="stylesheet" />

{% endblock %}

{% block content %}
<header class="masthead" style="background-image: url('./static/img/yoga.jpg'); background-size: cover;">
</header>

<div class="button-container">
    <a href="exWarrior1">Next</a>
</div>

<div class="center-text">Downdog</div>

<div class="horizontal-boxes">
    <div class="box">
        <img src="./static/gif/Downdog.gif" alt="다운독 gif">
    </div>
    <div class="box">
    <p class="text-style-1"><i class="fa-solid fa-pencil"></i> 손가락을 활짝 펼쳐서 어깨 너비로 바닥을 짚고, 골반 아래 무릎이 오도록 하세요. 손바닥 안쪽이 뜨지 않도록 지긋이 눌러주세요.</p>
    <p class="text-style-1"><i class="fa-solid fa-pencil"></i> 손은 고정시키고 발끝은 계속 세워주세요. 손바닥에서부터 꼬리뼈까지 일직선이 되는 느낌이 올 때까지 엉덩이를 들어올려주세요.</p>
    <p class="text-style-1"><i class="fa-solid fa-pencil"></i> 발 사이 간격은 주먹 두개 너비가 넘지 않도록 해주세요. 시선은 발 사이 또는 가슴 아래 바닥을 바라보세요.</p>
    <p class="text-style-1"><i class="fa-solid fa-pencil"></i> 10초동안 자세를 유지하세요.</p>
        
    </div>
</div>



{% endblock %}
