{% extends 'base.html' %}

{% block head %}
<script src="https://kit.fontawesome.com/b2a71afe25.js" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jsCalendar.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/jsCalendar.micro.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='js/jsCalendar.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/jsCalendar.datepicker.js') }}"></script>
<link href="{{ url_for('static', filename='css/styles3.css') }}" rel="stylesheet" />
<link href="{{ url_for('static', filename='css/exercise.css') }}" rel="stylesheet" />
<!-- Additional CSS and JavaScript links can be included here -->
{% endblock %}

{% block content %}
<header class="masthead" style="background-image: url('./static/img/yoga.jpg'); background-size: cover;">
</header>

<!-- Main Content-->
<title>Your Fitness Dashboard</title>
</head>
<body>
    <div class="dashboard">
        <div class="profile">
            <h1>Timer</h1>
            <img src="./static/img/timer.jpg" alt="이미지 설명">
            <div id="timer">10</div>
        </div>

        <div class="bento">
            <div class="box calories">
                <!-- 웹캠 비디오 요소 추가 -->
                <video id="webcam" autoplay></video>
            </div>
            <div class="box exercise-score">
                <div class="decoyoga-container">
                    <img src="./static/img/decoyoga.jpg" alt="요가 아이콘 이미지" class="decoyoga">
                    <div class="decoyoga-text"><strong>동작:</strong> 다운독</div>
                </div>
                <div class="downdog-container">
                    <img src="./static/img/downdog.jpg" alt="다운독등 자세" class="downdog">
                </div>
            </div>
            <div class="box exercise-table">
                <strong>자세교정</strong>
             
                <div class="horizontal-box-container">
                    <div class="horizontal-box">뭐라무러ㅏ</div>
                    <div class="gap"></div> <!-- 간격을 위한 빈 요소 추가 -->
                    <div class="horizontal-box">뭐라무러ㅏ</div>
                </div>
                
                

               
                
        
            </div>

        </div>

    <script>
         // 웹캠 접근 및 비디오 표시
         navigator.mediaDevices.getUserMedia({
            video: { width: 640, height: 480 }
        })
            .then((stream) => {
                const webcam = document.getElementById("webcam");
                webcam.srcObject = stream;
            })
            .catch((error) => {
                console.error("Error accessing webcam:", error);
            });
    </script>

{% endblock %}

