

{% extends 'base.html' %}

{% block head %}
<title>Your Fitness Dashboard</title>
<link href="./static/css/styles3.css" rel="stylesheet" />
<link rel="stylesheet" href="./static/css/exercise.css">
{% endblock %}

{% block content %}
<!-- Page Header-->
<header class="masthead" style="background-image: url('./static/img/yoga.jpg'); background-size: cover;">
</header>
<!-- Main Content-->
    <div class="dashboard">
        <div class="profile">
            <h1>Timer</h1>
            <img src="./static/img/timer.jpg" alt="이미지 설명">
            <div id="timer">10</div>
        </div>

        <div class="bento">
            <div class="box calories">
                <!-- 웹캠 비디오 요소 추가 -->
                <video id="webcam" autoplay></video>
            </div>
            <div class="box exercise-score">
                <h2 class="heading heading-sm">운동 점수</h2>
                <!-- 운동 점수 내용 추가 -->
            </div>
            <div class="box exercise-table">
                <h2 class="heading heading-sm">이미지를 따라하세요</h2>
                <img src="./static/img/downdog.jpg" alt="이미지 설명" width="300">
                <h3 class="heading heading-sm">자세 교정</h2>
                    <div class="space-below"><strong>상체:</strong> 허리를 더 펴세요</div>
                    <div class="space-below"><strong>하체:</strong> 무릎을 펴세요</div>
                    <div class="space-below"><strong>기타:</strong> 고개를 숙이세요</div>
                    <a href="http://localhost:5000/after" id="nextButton" target="_blank">
                        <img src="./static/img/direction1.jpg" alt="다음">
                    </a>

            </div>
        </div>

    </div>
    <script>
         // 웹캠 접근 및 비디오 표시
         navigator.mediaDevices.getUserMedia({
            video: { width: 640, height: 480 }
        })
            .then((stream) => {
                const webcam = document.getElementById("webcam");
                webcam.srcObject = stream;
            })
            .catch((error) => {
                console.error("Error accessing webcam:", error);
            });
    </script>

{% endblock %}


{% block footer %}
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
{% endblock %}


