{% extends 'base.html' %}

{% block head %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&display=swap" rel="stylesheet">
<link href="./static/css/styles3.css" rel="stylesheet" />
<style></style>
{% endblock %}

{% block content %}
<header class="masthead" style="background-image: url('./static/img/yoga.jpg'); background-size: cover;">
</header>

<div class="button-container">
    <a href="exDowndog">이전 운동</a>
</div>
<div class="button-container">
    <a href="exWarrior2">다음 운동</a>
</div>

{% endblock %}