{% extends 'base.html' %}

{% block head %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Do+Hyeon&display=swap" rel="stylesheet">

<script src="https://kit.fontawesome.com/b2a71afe25.js" crossorigin="anonymous"></script>
<link href="./static/css/styles3.css" rel="stylesheet" />
<link href="./static/css/exWarrior2.css" rel="stylesheet" />
<style></style>
{% endblock %}

{% block content %}
<header class="masthead" style="background-image: url('./static/img/yoga.jpg'); background-size: cover;">
</header>

<div class="button-container left-button">
    <a href="exWarrior1">Back</a>
</div>
<div class="button-container right-button">
    <a href="detect">Start</a>
</div>

<div class="center-text">Downdog</div>

<div class="horizontal-boxes">
    <div class="box">
        <img src="./static/gif/warrior2.gif" alt="워리어2 gif">
    </div>
    <div class="box">
    <p class="text-style-1"><i class="fa-solid fa-pencil"></i> 정면을 바라보고 똑바로 선 자세에서 시작하며, 다리를 어깨 넓이보다 넓게 벌리세요.</p>
    <p class="text-style-1"><i class="fa-solid fa-pencil"></i> 오른쪽 발목을 오른쪽 방향으로 돌린 후, 오른쪽 무릎을 구부려줍니다. 그런 다음 양손을 들어 올려 어깨 라인을 일자로 만들어 주세요.</p>
    <p class="text-style-1"><i class="fa-solid fa-pencil"></i> 고개를 오른쪽 방향으로 돌리고, 자세를 유지하며 5회~10회 심호흡하세요.</p>
    <p class="text-style-1"><i class="fa-solid fa-pencil"></i> 10초동안 자세를 유지하세요.</p>
        
    </div>
</div>

{% endblock %}