{% extends 'base.html' %}

{% block head %}
{% endblock %}

{% block content %}
<header class="masthead" style="background-image: url('/static/img/yoga.jpg')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>Yoga</h1>
                    <span class="subheading">내면의 평화를 찾아보세요</span>
                    <a class="btn btn-primary btn-xl rounded-pill mt-5" href="instructions" >start</a>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Content section 1-->
<section id="scroll">
<div class="container px-5">
    <div class="row gx-5 align-items-center">
        <div class="col-lg-6 order-lg-2">
            <div class="p-5"><img class="img-fluid rounded-circle" src="/static/img/yoga2.jpg" alt="..." /></div>
        </div>
        <div class="col-lg-6 order-lg-1">
            <div class="p-5">
                <h2 class="display-4">요가를 배우세요.</h2>
                <p>ai 트레이너가 당신의 요가를 도와줌 어찌구요가 배움에 대하여Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
            </div>
        </div>
    </div>
</div>
</section>
<!-- Content section 2-->
<section>
<div class="container px-5">
    <div class="row gx-5 align-items-center">
        <div class="col-lg-6">
            <div class="p-5"><img class="img-fluid rounded-circle" src="/static/img/diary.jpg" alt="..." /></div>
        </div>
        <div class="col-lg-6">
            <div class="p-5">
                <h2 class="display-4">운동 기록/ 감정을 기록하세요</h2>
                <p>운동 기록 감정에 대한 이야기Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
            </div>
        </div>
    </div>
</div>
</section>
<!-- Content section 3-->
<section>
<div class="container px-5">
    <div class="row gx-5 align-items-center">
        <div class="col-lg-6 order-lg-2">
            <div class="p-5"><img class="img-fluid rounded-circle" src="/static/img/peace.jpg" alt="..." /></div>
        </div>
        <div class="col-lg-6 order-lg-1">
            <div class="p-5">
                <h2 class="display-4">내면의 평화를 찾으세요.</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock %}


{% block footer %}
    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Fitech 2023</p></div>
    </footer>
{% endblock %}
