<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./static/css/prepare1.css">
  <title>앱 이용 안내</title>
</head>
<body>
  <main class="main flow">
    <h1 class="main__heading">앱 이용 안내</h1>
    <div class="main__cards cards">
      <div class="cards__inner">
        <div class="cards__card card">
          <h2 class="card__heading">Step 01</h2>
          <p class="card__price">카메라 접근을 허용해주세요!</p>
          <ul role="list" class="card__bullets flow">
            <li>카메라 접근 권한을 허용하여 실시간 자세 교정의 효과를 즐기세요</li>
            <li>화면 안에 전신이 나오도록 카메라의 각도와 위치를 조정해주세요</li>
          </ul>
          <a href="{{ url_for('prepare') }}" class="card__cta cta">카메라 조정하기</a>
        </div>

        <div class="cards__card card">
          <h2 class="card__heading">Step 02</h2>
          <p class="card__price">이미지와 같은 포즈를 따라하세요!</p>
          <ul role="list" class="card__bullets flow">
            <li>화면에 나타나는 이미지와 동일한 자세를 취하세요</li>
            <li>정확한 자세를 취하면 어플리케이션은 실시간으로 이를 분석하고 피드백을 제공하여 올바른 자세 학습을 도와 줄 거에요</li>
            <li>이미지와 일치하는 포즈를 유지하면 교정의 효과를 높일 수 있어요</li>
          </ul>
          <a href="#pro" class="card__cta cta">돌아가기</a>
        </div>

        <div class="cards__card card">
          <h2 class="card__heading">Step 03</h2>
          <p class="card__price">10초간 버티세요!</p>
          <ul role="list" class="card__bullets flow">
            <li>정확한 자세를 취한 후, 화면에 나타나는 안내에 따라 최소 10초간 자세를 유지하세요</li>
            <li>이 단계는 근육 강화 및 올바른 자세 유지 훈련을 위한 중요한 부분이에요</li>
            <li>버티는 동안 어플리케이션은 시간 경과에 따른 자세의 변화를 모니터링하고 조언을 제공하여 사용자의 교정 향상을 도와 줄 거에요</li>
            <li>아래의 버튼을 클릭하여 시작해보세요</li>
          </ul>
          <a href="#ultimate" class="card__cta cta">시작하기</a>
        </div>
      </div>

      <div class="overlay cards__inner"></div>
    </div>
  </main>

  <script src="./static/js/prepare1.js"></script>
</body>
</html>

