:root {
  /* --var-col: 1fr; */
  --text-color: #000000;
  --shadow-color: #CCCCCC;
}

body {
  background-color: #FFFFFF;
  overflow: auto;

}

.dashboard {
  position: relative;
  /* 상대 위치 설정 */
  /* 기타 필요한 스타일 */
}


h1 {
  color: var(--text-color);
  font-family: 'Black Han Sans', sans-serif;
  letter-spacing: -0.03em;
  font-size: 30px;
  font-weight: 300;
  line-height: 1.1;
  margin: 0 0 4px;
}

h4 {
  color: var(--text-color);
  font-family: 'Black Han Sans', sans-serif;
  text-shadow: 0 0 80px var(--shadow-color);
  margin: 10px 0 0;
  font-size: 15px;
}

.profile {
  display: flex;
  align-items: center;
  /* 수직 중앙 정렬 */
  justify-content: center;
  /* 수평 중앙 정렬 추가 */
  margin: 0 40px;
  margin-bottom: 10px;
  /* 마진 추가 */
}

.bento {
  gap: 12px;
  /* 박스 사이의 간격 설정 */
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* 2개의 컬럼으로 분할 */
  grid-template-rows: auto 1fr;
  /* 첫 번째 로우는 자동으로, 두 번째 로우는 나머지 공간을 차지하도록 설정 */
  gap: 12px;
}
.box.exercise-score .downdog-container img {
  width: 89%; /* 원래 크기의 절반으로 조정 */
  height: auto;
  /* 기타 스타일... */
}

.box {
  position: static;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  /* padding: 2rem; */
  border-radius: 0.75rem;
  color: #000000;
  font-family: 'Black Han Sans', sans-serif;
  text-shadow: 0 0 80px #17181d;
  font-size: 12px;
  box-shadow: 0 1px 1px rgb(45 44 44 / 90%);
  margin: 0;
}




.box>.heading {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.1;
  margin: 0 0 8px;
}

.box>.heading-sm {
  font-size: 14px;
  text-shadow: 0 0 80px var(--shadow-color);
}

.stats {
  display: flex;
  flex-direction: row;
  /* margin-top: 20px; */
  gap: 30px;
}

.stat-icon {
  /* padding: 8px; */
  background-color: #FFFFFF;
  border-radius: 0.8em;
  /* margin-right: 10px; */
}

ul {
  padding: 0;
  list-style-type: none;
}

ul>li:not(:last-child) {
  padding-bottom: 10px;
}

.flexy {
  display: flex;
  justify-content: space-between;
}

.space-below {
  padding-bottom: 5px;
}

.box.exercise-table #nextButton {
  bottom: 10px;
  /* 하단에서 10px 떨어진 위치 */
  right: 10px;
  /* 오른쪽에서 10px 떨어진 위치 */
  border: none;
  /* 테두리 제거 */
  background-color: transparent;
  /* 배경색 투명 */
  cursor: pointer;
  /* 마우스 오버 시 커서 변경 */
}

.box.exercise-table #nextButton img {
  width: 50px;
  /* 이미지 크기 조절 */
  height: auto;
  /* 이미지 높이 자동 조절 */
}

.profile {
  display: flex;
  align-items: center;
  /* 수직 중앙 정렬 */
}

#timer {
  font-size: 20px;
  font-weight: bold;
  margin-top: 6px;
  padding: 0.3rem 0.8rem;
  /* 상하 0.5rem, 좌우 1rem로 수정 */
  border-radius: 0.2rem;
  /* 수정된 부분 */
  background-color: #F0F0F0;
  border: 1px solid rgb(45 44 44);
  color: var(--text-color);
  text-shadow: 0 0 80px var(--shadow-color);
  box-shadow: 0 1px 1px rgb(45 44 44 / 90%);
  margin-left: 5px;
  /* FITECH와의 간격 조절 */
}

/* 이미지 크기 조절 */
.profile img {
  width: 28px;
  /* 원하는 가로 크기로 조절 */
  height: auto;
  /* 비율에 맞게 세로 크기 자동 조절 */
  margin-right: 10px;
  /* 이미지와 FITECH 간격 조절 */
}

/* 웹캠 비디오 스타일 조절 */
.box.calories {
  position: relative;
  /* 상대 위치 설정 */
  /* 내부 내용이 넘치는 경우 숨김 처리 */
  display: flex;
  border-radius: 0.75rem;
  justify-content: center;
  /* 수평 중앙 정렬 추가 */
  align-items: center;
  /* 수직 중앙 정렬 추가 */
  height: auto;
  /* 높이를 원하는 크기로 지정 */
  margin-left: 20px;
}

.box.calories img {
  width: 100%;
  /* 부모 요소에 대해 자동 너비로 설정 */
  height: 100%;
  /* 부모 요소에 대해 100% 높이로 설정 */
  object-fit: cover;
  /* 비율 유지하면서 채우기 */
  border-radius: 0.75rem;
  object-position: left;
}

.video-container {
  display: flex;
  justify-content: space-between;
}

.box.exercise-score {
  grid-column: 2 / 3;
  /* "운동 점수" 박스가 두 번째 컬럼에 위치하도록 설정 */
  grid-row: 1 / 2;
  /* "운동 점수" 박스가 첫 번째 로우에 위치하도록 설정 */
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  /* 기타 스타일 */
}

.box.exercise-score .score-text {
  font-family: 'Black Han Sans', sans-serif;
  text-shadow: 0 0 80px var(--shadow-color);
  font-size: 16px;
  /* 필요한 스타일링 추가 */
}

.box.exercise-score .downdog-container,
.box.exercise-score .decoyoga-container {
  display: flex;
  align-items: flex-start;
  /* 상단 정렬 */
  justify-content: center;
  /* 중앙 정렬 */
}

.box.exercise-score .downdog-container {
  display: flex;
  align-items: center;
  /* decoyoga 이미지와 downdog 이미지를 수직 정렬 */
  justify-content: space-evenly;
  /* 요소들 사이의 간격을 균등하게 설정 */
  flex-grow: 1;
  /* 자식 요소들이 세로 방향으로 확장되도록 설정 */
}

.box.exercise-score .downdog-container,
.box.exercise-score .decoyoga-container,
.box.exercise-score .downdog-container img,
.box.exercise-score .decoyoga-container img {
  align-self: center;
  /* 자기 자신을 중앙 정렬 */
}


.box.exercise-table {
  grid-column: 2 / 3;
  /* "Last 5 Exercises" 박스가 두 번째 컬럼에 위치하도록 설정 */
  grid-row: 2 / 3;
  /* "Last 5 Exercises" 박스가 두 번째 로우에 위치하도록 설정 */
  height: auto;
  /* 높이를 원하는 크기로 지정 */
  max-height: 300px;
  overflow: hidden;
  margin-right: 20px;
  display: flex;
  /* 부모 요소를 Flex 컨테이너로 설정 */
  /* 자식 요소들을 수평 중앙 정렬 */
}


/* decoyoga 이미지에 대한 스타일 */
.box.exercise-score .decoyoga {
  width: 37px;
  /* 크기 조절 */
  height: auto;
  border-radius: 37px;
  /* 둥근 모서리 */
  margin-right: 10px;
  margin-bottom: 10px;
  /* 추가 스타일링 필요 시 추가 */
}

/* decoyoga 이미지와 텍스트를 위한 컨테이너 스타일 */
.box.exercise-score .decoyoga-container {
  display: flex;
  align-items: center;
}

/* decoyoga 텍스트에 대한 스타일 */
.box.exercise-score .decoyoga-text {
  color: #000000;
  font-family: 'Black Han Sans', sans-serif;
  text-shadow: 0 0 80px var(--shadow-color);
  font-size: 25px;
  margin-bottom: 10px;
  /* 필요한 스타일링 추가 */
}

.box.exercise-score .downdog {
  width: 400px;
  /* 다른 크기 설정 */
  height: auto;
  border-radius: 5px;
  /* 둥근 모서리를 조금 덜 둥글게 */
  margin-top: 10px;
  /* 추가 스타일링 필요 시 추가 */
}


/* .box.exercise-table 스타일 */
.box.exercise-table {
  display: flex;
  flex-direction: column;
  color: #000000;
  font-family: 'Black Han Sans', sans-serif;
  text-shadow: 0 0 80px var(--shadow-color);
  box-shadow: none;
}

/* .posture-detail 스타일 */
.box.exercise-table .posture-detail {
  font-size: 17px;
  margin-top: 5px;
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

/* .text-container 스타일 */
.text-container1,
.text-container2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.text-container1 span,
.text-container2 span {
  margin-right: 10px;
}

/* 가로로 배치된 박스 컨테이너 스타일 */
/* 가로로 배치된 박스 컨테이너 스타일 */
.horizontal-box-container {
  display: flex;
  justify-content: center;
  /* 컨테이너 내에서 박스들을 중앙 정렬 */
  /* 수직 중앙 정렬합니다. */
  gap: 20px;
  margin-top: 0px;
}

/* 가로로 배치되는 박스 스타일 */
.horizontal-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* 자식 요소들을 시작점에 정렬 */
  justify-content: flex-start;
  /* 아이템 사이의 공간을 균등하게 분배 */
  height: auto;
  /* 높이는 자동으로 설정 */
  background-color: transparent;
  color: #000000;
  margin-right: 0px;
  min-width: 0;
  flex: 1;
}

#box1 {
  margin-left: 25px; /* 원하는 간격만큼 조정 */
}


#feedBackDisplay1,
#feedBackDisplay2,
#feedBackDisplay3,
#feedBackDisplay4,
#feedBackDisplay5,
#feedBackDisplay6,
#feedBackDisplay7,
#feedBackDisplay8 {
  font-size: 29px;
  white-space: nowrap;
  margin-bottom: 10px;
  /* 각 피드백 사이의 간격 */
  min-height: 40px;
  /* 모든 피드백 디스플레이의 최소 높이 */
  align-self: stretch;
  /* 컨테이너 내에서 균일한 너비 유지 */
}


/* 간격을 위한 스타일 */
.gap {
  width: 20px;
  /* 간격의 너비를 조정할 수 있습니다. */
}

.container-title {
  font-size: 25px;
  font-weight: bold;
  /* 추가 스타일링 필요시 */
}

.feedback-section {
  margin-top: 20px;
  display: flex;
  background: #FFFFFF;
  flex-direction: column;
  /* 수직 정렬 */
  align-items: center;
  /* 중앙 정렬 */
  gap: 20px;
  /* 각 요소 사이 간격 */
}

.feedback-title {
  margin-right: 38px;
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.feedback-text {
  font-size: 25px;
  margin-left: 10px;
  /* 아이콘과 텍스트 사이 간격 */
}

.end-button {
  padding: 10px 20px;
  /* 예시 색상 */
  color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
  /* 상단 간격 조정 */
}

.end-session-button {
  padding: 5px 10px;
  top: 10px;
  position: absolute;
  /* 예시 색상 */
  font-family: 'Black Han Sans', sans-serif;
  text-shadow: 0 0 80px var(--shadow-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  background-color: #FFFFFF;
  position: absolute;
  /* 절대 위치 */
  right: 20px;
  /* 오른쪽 끝에서 10px 떨어진 위치 */
  transform: translateY(-50%);
  /* Y축 기준으로 중앙 정렬 */
}

.hidden-audio {
  display: none;
}


#startText {
  color: var(--text-color);
  font-family: 'Black Han Sans', sans-serif;
  text-shadow: 0 0 80px var(--shadow-color);
  font-size: 30px;
}

#timeDisplay {

  color: var(--text-color);
  font-family: 'Black Han Sans', sans-serif;
  text-shadow: 0 0 80px var(--shadow-color);
  margin-left: 10px;
  margin-top: -5px;
  font-size: 30px;

}